:root{
    --sizeButton: 80px
  
  }
  
  #toggle {
    position: relative;
    display: block;
    width: var(--sizeButton);
    height: calc(var(--sizeButton)/2);
    background-color: #fff;
    transition: 0.5s;
    border-radius: 160px;
    cursor: pointer;
    box-shadow: 
    inset 0px 8px 60px rgba(0,0,0,0.1),
    inset 0px 8px 8px rgba(0,0,0,0.1),
    inset 0px -4px -4px rgba(0,0,0,0.1);
  }
  #toggle .indicator {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(var(--sizeButton)/2);
    height: calc(var(--sizeButton)/2);
    background: linear-gradient(to bottom, #444, #222);
    border-radius: 50%;
    transform: scale(0.9);
    box-shadow: 0 8px 20px rgba(0,0,0,0.5),
      inset 0 4px 4px rgba(112,255,255,0.2),
      inset 0 -4px 4px rgba(255,255,255,0.2);
    transition: 0.5s;
  }
  
  #toggle.whiteTheme .indicator{
    background: white;
    left: calc(var(--sizeButton)/2);
    box-shadow: inset 0 2px 60px rgba(0,0,0,0.1),
    inset 0 2px 8px rgba(112,112,112,0.1),
    inset 0 -4px 4px rgba(112,112,112,0.1);
  }
  body.whiteTheme{
    background: white;
  }
  #toggle.whiteTheme {
    background: linear-gradient(to bottom, #444, #222);
    box-shadow: 
    inset 0px 8px 60px rgba(0,0,0,0.1),
    inset 0px 8px 8px rgba(0,0,0,0.1),
    inset 0px -4px -4px rgba(0,0,0,0.1);
  
  }